header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $vertpastel;
    height: 100px;
    align-items: center;
}
main h1{
    padding: 40px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    color: $rosepastel;
}

nav {
    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding: 15px 40px;
    }
}

.logoQ {
    height: 30px;
    padding: 30px;
}