#conteneurjeu {
    display:flex;
    flex-direction: row;
    width:80%;
    // border: 1px $vertpastel solid;
    margin: 10%;
    div{
        flex-basis:40%;
    }
    article{
        flex-basis:60%;
        // max-height: 500px;
    }
    img {
        width: 100%;
        height: 100%; 
    }
}



#conteneurtextejeu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // flex-wrap: wrap;
    background-color: $rosepastel;
        h1{
            font-family: 'Raleway';
            font-size: 20px;
            font-weight: 200;
            text-align: center;
            margin: 50px;
        }

}


button {
    background-color: $vertpastel;
    border: none;
    margin: 10px;
    border-radius: 16px;
}

